---
layout: default
---

{% include slider.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Important dates</h2>
          </header>
          <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">feb</div>
                <div class="day">17</div>
              </figure>
              <aside>
                <header>
                    <!-- <strike>Paper submission deadline</strike> -->
                  Abstract submission deadline
                </header>
              </aside>
            </article><!-- /article -->
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">feb</div>
                <div class="day">21</div>
              </figure>
              <aside>
                <header>
                    <!-- <strike>Paper submission deadline</strike> -->
                  Paper submission deadline
                </header>
              </aside>
            </article><!-- /article -->
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">mar</div>
                <div class="day">9</div>
              </figure>
              <aside>
                <header>
                  Author Notification
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">apr</div>
                <div class="day">16</div>
              </figure>
              <aside>
                <header>
                  Camera ready deadline
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">may</div>
                <div class="day">1</div>
              </figure>
              <aside>
                <header>
                  One day event
                </header>
              </aside>
            </article>
            <br>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
        <br/>

        <section class="events small" id="events-small">
          <header>
            <h2>Useful Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
                <li><h4><a href="registration.html">Symposium registration</a></h4></li>
                <li><h4><a href="schedule.html">Schedule</a></h4></li>
                <li><h4><a href="keynotes.html">Keynote</a></h4></li>
                <li><h4><a href="location.html">Location</a></h4></li>
                <li><h4><a href="accommodation.html">Accommodation</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <div class="section-content">

<header><h2>Virtual Event Information</h2></header>
See you at the virtual event soon!<BR>
We sent an email to all attendees with the zoom webinar link
to attend the virtual event. (New registrations will have the zoom
link in the confirmation email). <BR>
The zoom webinar link is also available in the event's slack
channel, where we will also hold discussions among attendees,
presenters, and keynote speakers: <a href="#">FAB 2021 slack channel</a>
<BR><BR>

<header><h2>Updates in Relation to COVID-19</h2></header>
<p>
UPDATE (April 17): The FAB 2021 program will be streamed online. We
will use Zoom for streaming the presentations and asking questions
live. We will also have a slack channel for further discussions
between the attendees and the authors. The links to both Zoom and
Slack for FAB 2021 will be posted soon.

<BR><BR>
Due to the circumstances related to the COVID-19 outbreak, FAB 2021
is going to be a fully virtual event on May 7, 2021. Authors were
asked to prepare videos of their presentations that will be uploaded
to be viewed online on May 7st. A discussion platform will be used
for Questions and Answers sessions and general discussions related to
the presented papers and keynotes. We will post updates about the
program in we approach the symposium day. Please register if you plan
to participate in the event to get the most recent updates. Registration
will be open soon free of
charge. 
</p>


            <header><h2>Third International Symposium on Foundations and Applications of
                    Blockchain 2021 (FAB '21)</h2></header>
            <p>
            Blockchain - the technology behind Bitcoin and Ethereum - is
            flourishing into an impressive spectrum of research projects
            and initiatives, corporate alliances, and startup companies.
            This multidisciplinary effort spans diverse disciplines
            ranging from Computer Science and Engineering to
            Communications, Social Sciences, Public Policy, Banking and
            Finance, Journalism, and Political Sciences to name a few.
            This one day event strives to bring researchers and
            practitioners of blockchain together to share and exchange
            results.  We are interested in papers and presentations on a
            broad range of topics including:
            </p>

            {% include topics.html %}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@msadoghi" />
<meta name="twitter:creator" content="@msadoghi" />
<meta name="twitter:title" content="Symposium on
Foundations and Applications of Blockchain 2021 (FAB '21)" />
<meta name="twitter:description" content="The FAB '21 symposium is
planned to be held in Davis on May 7st.  This one day event
strives to bring researchers and practitioners of blockchain together
to share and exchange results." />
<meta name="twitter:image"
content="https://scfab.github.io/2021/assets/img21/kemper.jpg"/>

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
