---
layout: default
---

{% include slider.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Important dates</h2>
          </header>
          <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">Feb</div>
                <div class="day">17</div>
              </figure>
              <aside>
                <header>
                    <!-- <strike>Paper submission deadline</strike> -->
                  Abstract submission deadline
                </header>
              </aside>
            </article><!-- /article -->
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">Feb</div>
                <div class="day">21</div>
              </figure>
              <aside>
                <header>
                    <!-- <strike>Paper submission deadline</strike> -->
                  Paper submission deadline
                </header>
              </aside>
            </article><!-- /article -->
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">mar</div>
                <div class="day">9</div>
              </figure>
              <aside>
                <header>
                  Author notification
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">apr</div>
                <div class="day">16</div>
              </figure>
              <aside>
                <header>
                  Camera ready deadline
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">May</div>
                <div class="day">7</div>
              </figure>
              <aside>
                <header>
                  One day event
                </header>
              </aside>
            </article>
            <br>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
        <br/>
        <section class="events small" id="events-small">
            <header>
                <h2>Links</h2>
            </header>
            <div class="section-content">
                <ul class="list-links">
                    <li><h4><a href="#submission">Submission categories</a></h4></li>
                    <li><h4><a href="#guidelines">Submission guidelines</a></h4></li>
                </ul>
            </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Call for papers</h1>
          </header>
          <div class="section-content">
            <p>
            Blockchain - the technology behind Bitcoin - is flourishing
            into an impressive spectrum of research projects and
            initiatives, corporate alliances, and startup companies.
            This multidisciplinary effort spans diverse disciplines
            ranging from Computer Science and Engineering to
            Communications, Social Sciences, Public Policy, Banking and
            Finance, Journalism, and Political Sciences to name a few.
            This one day event strives to bring researchers and
            practitioners of blockchain together to share and exchange
            results.  We are interested in papers and presentations on a
            broad range of topics including:
            </p>

            {% include topics.html %}

            <a id="submit"><h2>Submission site</h2></a>
            <!-- TODO -->
            <p>
              TBA
            <!-- When you are ready to submit, please go to
            <a href="https://cmt3.research.microsoft.com/FAB2020">
               <b style="color:red">https://cmt3.research.microsoft.com/FAB2020 </b>
            </a> -->
            </p>
            <a id="submission"><h2>Submission categories</h2></a>
            <p>Authors can submit a paper in one of the following categories:</p>
            <ul class="topics-list">
                <li><b>Research Papers</b> describe research
                    work in the broad area of blockchain. We solicit
                    both long papers (up to 8 pages) and short papers
                    (up to 4 pages). The former will tend to be
                    descriptions of complete technical work, while the
                    latter will tend to be descriptions of interesting,
                    innovative ideas, which nevertheless require more
                    work to mature.
<BR>
		<u>For short papers,</u> we also
encourage submissions that put previously published work in a new
light or describe extensions of previously published work by the
authors. 
                </li>
                <li><b>Industrial Papers</b> describing experiences with
                    the deployed and state-of-the-art blockchain
                    systems. These papers can also be either long papers
                    (up to 8 pages) or short papers (up to 4 pages).
                </li>
                <li><b>Posters</b>. Researchers and practitioners
                    wishing to showcase and get feedback on work that is
                    in an early stage, and hence not yet ready for
                    publication as a paper, are invited to submit a
                    1-page proposal for a poster.
                    All accepted papers are encouraged to showcase
                    a poster, too.
                </li>
            </ul>
            <br>
            <p>
            All submissions will be held to a high quality standard, and
            evaluated based on their originality, technical merit,
            topical relevance, value to the community, and likelihood of
            leading to insightful discussions. Submissions will be kept
            confidential. On rare occasions, long paper submissions may
            be accepted as short papers (pending authors’ approval and
            significant shortening).<BR><BR>

	    
	    <!--
            <a id="Informal Proceedings"><h2>Informal Proceedings</h2></a>
	    <p>
            The symposium has no
published proceedings. Presenting a paper
at the symposium should not preclude submission to or
publication in other venues (before, after or concurrently with
FAB 2020). Papers presented at the workshop will be made available to
workshop participants, but this does not constitute an official
proceedings.
            </p>
	   -->

            <a id="guidelines"><h2>Submission guidelines</h2></a>
            <p>
            Papers must meet the following formatting rules in order to
            be considered for publication. They should be submitted in
            PDF format and formatted in 10-point type using the
            templates provided. We cannot give extensions for
            reformatting.
            </p>
            <h3>Paper format & fonts</h3>
            <p>
            Submissions must be formatted using
            <a href="assets/FAB-2020-v2.cls" target="_blank"
               style="color:red;text-decoration:underline;">
               the LaTeX style file
            </a>
            <!-- or
            <a href="assets/FAB-2019-v2.docx" target="_blank"
               style="color:red;text-decoration:underline;">
               the MS-Word template.
            </a>
	    -->
            </p>
            <ul class="topics-list">
                <li>Judicious use of color is permitted, but please bear
                    in mind that not everybody has access to a color
                    printer, and some people cannot distinguish some
                    colors. Figures should be clear when printed in
                    black & white.
                </li>
                <li>Symbols and axis labels used in graphs should be
                    legible as printed, and not require magnification.
                </li>
                <li>Limit the file size to less than 15 MB.
                </li>
            </ul>
            <h3>Page limit</h3>
            <p>
            Long papers can have up to <b>8 pages</b> while short
            papers can be a maximum of <b>4 pages</b>. These limits
            exclude references but include all other content (e.g.,
            appendices).
            </p>
            <h3>Paper type</h3>
            <p>
            Following the list of author names and affiliations on the
            first page, submissions should include a line that specifies
            the paper’s “type” (research, industrial, or poster) and
            “length” (long or short).
            </p>
            <a id="submit"><h2>Deadlines</h2></a>
            <p>
              <!-- TODO -->
            <!-- <b style="color:red">Abstract Submission
                deadline: February 17, 2020 (11:59 PM Anywhere on
Earth (AoE)</b><br>
            <b style="color:red">Submission
                deadline: <strike>February 17</strike> (extended till
February 21), 2020 (11:59 PM Anywhere on
Earth (AoE)</b><br>
		Papers must be
            submitted by this deadline to be reviewed.
            </p> -->
            <b style="color:red">TBA</b>
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
