---
layout: default
---

{% include slider.html %}

<!-- Content -->
<div class="block">
 <div class="container">
  <div class="row">
  <!--MAIN Content-->
   <div class="col-md-9">
    <div id="page-main">
     <section id="members">
      <header><h1>Program Committee</h1></header>
      <section id="program-chairs">
       <header><h2 class="no-divider">Program chair</h2></header>
       <div class="row">
       <div class="col-md-6">
        {% include author-block-no-padding.html
          link="https://gramoli.redbellyblockchain.io/web/php/" name="Vincent Gramoli"
 org="University of Sydney and EPFL" %}
       </div>
       </div>
      </section><!-- /#program-chairs -->
      <section id="program-chairs">
       <header><h2 class="no-divider">Program committee</h2></header>
       <div class="row">
       <div class="col-md-6">
         <div class="row">
 <div class="col-md-12 text-center">
 <ul class="text-left" style="display:inline-block;vertical-align:middle;">
  <li> Alysson Bessani, Universidade de Lisboa </li>
<li> Joseph  Bonneau, New York University </li>
<li> Christian Cachin,  University of Bern </li>
<li> Tien Tuan Anh Dinh,  Singapore University of Technology and Design </li>
<li> Amr El Abbadi, University of California, Santa Barbara </li>
<li> Chryssis  Georgiou,  University of Cyprus </li>
<li> Vincent Gramoli, The University of Sydney </li>
<li> Jelle Hellings,  University of California, Davis </li>
<li> Victor  Luchangco, Algorand </li>
<li> Romaric Ludinard,  IMT Atlantique </li>
<li> Zarko Milosevic, Informal Systems </li>
<li> Fernando  Pedone,  University of Lugano </li>
<li> Maria Potop-Butucaru,  UPMC Sorbonne Universités, LIP6 </li>
<li> Ali Shoker,  VORTEX Colab </li>
<li> Francois  Taiani,  Univ Rennes, CNRS, Inria, IRISA </li>
<li> Qiang Tang,  University of Sydney </li>
<li> Sara  Tucci-Piergiovanni,  CEA-List, Université Paris-Saclay, France </li>
<li> Pramod  Viswanath, University of Illinois at Urbana-Champaign </li>
<li> Jiangshan Yu,  Monash University </li>
 </ul>
 </div>
 </div>
       </div>
       </div>
      </section><!-- /#program-committee-->
     </section><!-- /#members -->
    </div><!-- /#page-main -->
   </div><!-- /.col-md-6 -->
  </div><!-- /.row -->
 </div><!-- /.container -->
</div>
<!-- end Content -->
