---
layout: default
---

{% include slider.html %}

<!-- Content -->
<div class="block">
 <div class="container">
  <div class="row">
  <!--MAIN Content-->
   <div class="col-md-9">
    <div id="page-main">
     <section id="members">
      <header><h1>Program Committee</h1></header>
      <section id="program-chairs">
       <header><h2 class="no-divider">Program chair</h2></header>
       <div class="row">
       <div class="col-md-6">
        {% include author-block-no-padding.html
          link="https://gramoli.redbellyblockchain.io/web/php/" name="Vincent Gramoli"
 org="University of Sydney and EPFL" %}
       </div>
       </div>
      </section><!-- /#program-chairs -->
      <section id="program-chairs">
       <header><h2 class="no-divider">Program committee</h2></header>
       <div class="row">
       <div class="col-md-6">
         <div class="row">
 <div class="col-md-12 text-center">
 <ul class="text-left" style="display:inline-block;vertical-align:middle;">
  <li>TBA</li>
 </ul>
 </div>
 </div>
       </div>
       </div>
      </section><!-- /#program-committee-->
     </section><!-- /#members -->
    </div><!-- /#page-main -->
   </div><!-- /.col-md-6 -->
  </div><!-- /.row -->
 </div><!-- /.container -->
</div>
<!-- end Content -->
