---
layout: default
---

{% include slider.html %}

<!-- Content -->
<div class="block">
<div class="container">
<div class="row">
  <div class="col-md-9">
    <section id="main-content">
      <div class="section-content">
<!--
	<h2>Accepted Papers</H2>
	<br>
	1. Scalable Decentralized Routing for Blockchain Payment
Networks<BR>
	Authors: xiaoxue zhang (University of California, Santa
Cruz)*; Shouqian Shi (University of California, Santa Cruz); Chen
Qian (University of California, Santa Cruz)<br><br>
	
	2. ResilientDB: Global Scale Resilient Blockchain Fabric<BR>
	Authors: Suyash Gupta (University of California Davis)*;
Sajjad Rahnama (University of California Davis); Jelle Hellings
(University of California Davis); Mohammad Sadoghi (University of
California, Davis)<BR><BR>

	3. Decentralized Markets Evaluating Uniform and Non-Uniform
prices<BR>
	Authors: Jason Vranek (UCSC)*; Yilin Li (UCSC)<BR><BR>
-->
<!--
	4. Securing Smart Contracts with Information Flow<BR>
	Authors: Ethan Cecchetti (Cornell University)*; Siqiu Yao
(Cornell University); Haobin Ni (Cornell University); Andrew Myers
(Cornell University)<BR><BR>

	5. An analysis of the market risk to participants in the
Compound protocol<BR>
	Authors: Hsien-Tang Kao (Gauntlet)*; Tarun Chitra (Gauntlet);
Rei Chiang (Gauntlet); John Morrow (Gauntlet)<BR><BR>

	6. On Stablecoins: Stability Mechanisms and Use Cases for
Real People<BR>
	Authors: Nathaniel Fowler (California Polytechnic State
University, San Luis Obispo); Eric Cuellar (California Polytechnic
State University, San Luis Obispo )*; Zachary Peterson (Cal Poly, San
Luis Obispo)<BR><BR>

	7. TrustDBle: Towards Trustable Shared Databases<BR>
	Authors: Muhammad El-Hindi (TU Darmstadt)*; Carsten Binnig
(TU Darmstadt); Simon Karrer (TU Darmstadt); Gloria Doci (TU
Darmstadt)<BR><BR>

	8. The legitimacy challenge of cryptocurrencies: a contested
field<BR>
	Authors: NIna van der Giessen (University of Salzburg)*;
Sergio Sparviero (University of Salzburg)

	<br><br>
-->
        <h2>Symposium Schedule</h2>
        <br><br>
        The symposium will be held online and live using Zoom. The
link to the Zoom meeting will be posted on the day of the event and
sent to the registrants emails. 
<BR><BR>
        {% include session.html date="Friday, May 1st (All times in
Pacific Time)" key="day1"
        showlinks="true" %}
      </div><!-- /.section-content -->
    </section><!-- /.main-content -->
  </div><!-- /.col-md-9 -->
</div><!-- /.row -->
</div><!-- /.container -->
</div>
<!-- end Content -->
